@import '../../common/css/mixins';

.cui-chart-card {
  padding: rem(15) rem(30) rem(20);
  position: relative;
  overflow: hidden;

  .ct-line {
    stroke-width: 1px;
  }

  .ct-series-a {
    .ct-area {
      fill: rgba(199, 228, 255, 0.5) !important;
      fill-opacity: 1 !important;
    }

    .ct-line {
      stroke: rgb(0, 69, 133) !important;
    }
  }

  &-chart {
    height: 100%;
    width: 120px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &-amount {
    font-size: rem(36);
    color: $black;
    margin-bottom: rem(-10);
  }

  &-title {
    color: $text;
    text-transform: uppercase;
    font-weight: bold;
  }
}
