@import '../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* FOOTER */

.cui-footer {
  padding: 0 rem(30);
  max-width: rem(1560);
  margin: 0 auto;

  @media (max-width: $sm-max-width) {
    padding: 0 rem(10);
  }

  &-inner {
    background: $gray-border;
    border-radius: 5px 5px 0 0;
    padding: rem(50) rem(30) rem(30);
  }

  &-bottom {
    margin-top: rem(20);
    padding-top: rem(30);
    border-top: 1px solid $gray;
  }

  &-company {
    padding-left: rem(50);
    position: relative;
    display: block;
    float: right;

    @media (max-width: $sm-max-width) {
      float: none;
      margin-top: rem(30);
    }
  }

  &-company-logo {
    position: absolute;
    top: rem(5);
    left: 0;
    width: rem(30);
  }
}
