<section class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong>Chart.js</strong>
      <a
        href="https://github.com/emn178/angular2-chartjs"
        target="_blank"
        class="btn btn-sm btn-primary ml-4"
      >
        Official Documentation <i class="icmn-link ml-1"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Line Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="https://github.com/emn178/angular2-chartjs"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <chart [type]="'line'" [data]="lineData" [options]="lineOptions"></chart>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Bar Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="https://github.com/emn178/angular2-chartjs"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <chart [type]="'bar'" [data]="barData" [options]="barOptions"></chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Pie Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="https://github.com/emn178/angular2-chartjs"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <chart [type]="'pie'" [data]="pieData" [options]="pieOptions"></chart>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Doughnut Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="https://github.com/emn178/angular2-chartjs"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <chart [type]="'doughnut'" [data]="doughnutData" [options]="doughnutOptions"></chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Radar Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="https://github.com/emn178/angular2-chartjs"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <chart [type]="'radar'" [data]="radarData" [options]="radarOptions"></chart>
        </div>
      </div>
    </div>
  </div>
</section>
