@import 'mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  "CORE" STYLES */

html {
  font-size: 13px;
  @media (max-width: $sm-max-width) {
    font-size: 12px;
  }
}

body {
  font-family: $base-font-family;
  color: $text-darken-more;
  background: $gray-lighten-more;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $text;
  @include transition-color();
  &:hover,
  &:active,
  &:focus {
    color: $blue;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  font-family: $base-font-family;
  color: $text-darken-more;
}

button,
input {
  box-shadow: none !important;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  appearance: none !important;
}

// code element
code {
  color: $text;
  background: $gray-lighten-more;
}

// pre element
pre {
  color: $text;
  padding: rem(20);
  border-radius: 3px;
  border: 1px solid $gray-border;
  background: $gray-lighten-more;
}
