@import 'mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  "MEASUREMENTS" STYLES */

// font size
@at-root {
  .font-size-0 {
    font-size: rem(0);
  }

  .font-size-10 {
    font-size: rem(10);
  }

  .font-size-12 {
    font-size: rem(12);
  }

  .font-size-14 {
    font-size: rem(14);
  }

  .font-size-16 {
    font-size: rem(16);
  }

  .font-size-18 {
    font-size: rem(18);
  }

  .font-size-20 {
    font-size: rem(20);
  }

  .font-size-24 {
    font-size: rem(24);
  }

  .font-size-26 {
    font-size: rem(26);
  }

  .font-size-30 {
    font-size: rem(30);
  }

  .font-size-36 {
    font-size: rem(36);
  }

  .font-size-40 {
    font-size: rem(40);
  }

  .font-size-50 {
    font-size: rem(50);
  }

  .font-size-60 {
    font-size: rem(60);
  }

  .font-size-70 {
    font-size: rem(70);
  }

  .font-size-80 {
    font-size: rem(80);
  }
}

// quick height
@at-root {
  .height-100 {
    height: rem(100);
  }

  .height-200 {
    height: rem(200);
  }

  .height-300 {
    height: rem(300);
  }

  .height-400 {
    height: rem(400);
  }

  .height-500 {
    height: rem(500);
  }

  .height-600 {
    height: rem(600);
  }

  .height-700 {
    height: rem(700);
  }
}

// quick width
@at-root {
  .width-50 {
    width: rem(50);
  }

  .width-100 {
    width: rem(100);
  }

  .width-200 {
    width: rem(200);
  }

  .width-300 {
    width: rem(300);
  }

  .width-400 {
    width: rem(400);
  }

  .width-500 {
    width: rem(500);
  }

  .width-600 {
    width: rem(600);
  }

  .width-700 {
    width: rem(700);
  }

  .width-20p {
    width: 20%;
  }

  .width-40p {
    width: 40%;
  }

  .width-50p {
    width: 50%;
  }

  .width-60p {
    width: 60%;
  }

  .width-80p {
    width: 80%;
  }

  .width-100p {
    width: 100%;
  }
}
