<nz-layout>
  <nz-content>
    <div [ngClass]="{'login': true, 'light': backgroundEnabled}" [ngStyle]="{backgroundImage: backgroundEnabled ? 'url(\'assets/images/photos/' + backgroundNumber + '.jpeg\')' : 'none'}">
      <header class="header">
        <a href="javascript: void(0);" class="logo">
          <img *ngIf="!backgroundEnabled" src="assets/images/logo.png" alt="Clean UI Admin Template">
          <img *ngIf="backgroundEnabled" src="assets/images/logo-inverse.png" alt="Clean UI Admin Template">
        </a>
        <div class="styleControls">
          <button nz-button nzType="default" class="mr-3" (click)="changeBackground()">Change Background</button>
          <button nz-button nzType="default" (click)="toggleBackground()">Toggle Background</button>
        </div>
        <nav class="loginNav">
          <ul class="navItems">
            <li><a href="javascript: void(0);">&larr; Back</a></li>
            <li><a class="active" href="javascript: void(0);">Login</a></li>
            <li><a href="javascript: void(0);">About</a></li>
            <li><a href="javascript: void(0);">Support</a></li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <div class="footer text-center">
        <ul class="list-unstyled list-inline mb-3">
          <li class="list-inline-item">
            <a href="javascript: void(0);">Terms of Use</a>
          </li>
          <li class="active list-inline-item">
            <a href="javascript: void(0);">Compliance</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);">Confidential Information</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);">Support</a>
          </li>
          <li class="list-inline-item">
            <a href="javascript: void(0);">Contacts</a>
          </li>
        </ul>
        <p>&copy; 2019 Mediatec. All rights reserved.</p>
      </div>
    </div>
  </nz-content>
</nz-layout>