@import '../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  STYLES FOR "BLOG" MODULE */

.cui {
  &-blog-feed {
    max-width: rem(1000);
    margin: 0 auto;

    &-article {
      margin-bottom: rem(40);

      img {
        max-width: 100%;
      }
    }

    &-article-link {
      display: block;
    }

    &-article-information {
      margin-bottom: rem(15);
    }

    &-article-title {
      h1 {
        font-size: rem(28);
        font-weight: bold;
        margin-bottom: rem(5);
        @media (max-width: $sm-max-width) {
          font-size: rem(24);
        }
      }
    }

    &-article-meta {
      margin: 0;
      padding: 0;
      list-style: none;
      color: #c0bdd0;
      font-style: italic;
    }

    &-article-meta-inf {
      display: inline-block;
      margin-right: rem(10);
    }

    &-article-media {
      margin-bottom: rem(15);

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-article-content {
      margin-bottom: rem(10);
    }

    &-more-icon {
      padding-left: rem(5);
    }

    &-article-footer {
      padding: rem(5) 0;
      border-top: 1px solid $gray-border;
      border-bottom: 1px solid $gray-border;
    }

    &-article-hashtags {
      a {
        color: $blue;
        margin-right: rem(10);
        text-transform: uppercase;
        font-size: rem(12);
        &:before {
          content: '#';
          padding-right: rem(2);
        }
      }
    }

    &-share {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;
    }

    &-share-item {
      display: inline-block;
      padding: 0 rem(5);
    }

    &-sidebar {
      padding-top: rem(40);
    }

    &-sidebar-partition {
      margin-bottom: rem(40);
    }

    &-partition-head {
      position: relative;
      margin-bottom: rem(10);

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: calc(50% - 1px);
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba($black, 0.1);
      }
    }

    &-partition-name {
      font-size: rem(15);
      font-weight: bold;
      margin-bottom: rem(5);
      position: relative;
      background-color: $white;
      padding-right: rem(10);
      text-transform: uppercase;
      z-index: 10;
    }

    &-categories-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-categories-item {
      display: block;
      margin-bottom: rem(8);
    }

    &-categories-link {
      display: block;
      font-size: rem(14);
      padding: rem(6) rem(10);
      background: $gray-lighten-more;
      border-radius: 3px;
      @include transition-fast();

      &:hover {
        color: $white;
        background: $primary;
      }
    }

    &-latest-post {
      margin-bottom: rem(13);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-latest-img {
      margin-right: rem(10);

      a {
        display: block;
      }

      img {
        width: 100px;
        height: 66px;
      }
    }

    &-latest-data {
      padding-top: rem(5);
      width: calc(100% - 110px);
    }

    &-latest-name {
      a {
        color: $text-darken-more;

        &:hover {
          color: $blue;
        }
      }

      h2 {
        font-size: rem(15);
        font-weight: bold;
        margin-bottom: rem(3);
      }
    }

    &-article-meta-latest {
      .cui-blog-feed-article-meta-inf {
        display: block;
        line-height: 1.1;
      }

      .cui-blog-feed-article-author {
        font-size: rem(13);
      }

      .cui-blog-feed-article-date {
        font-size: rem(12);
      }
    }

    &-group-addon {
      background-color: $blue;
      color: $white;
    }

    &-author-card {
      padding-bottom: rem(15);
      margin-bottom: rem(15);
      border-bottom: 1px solid rgba($black, 0.1);
    }

    &-author-photo {
      float: left;
    }

    &-author-inf {
      padding-top: rem(7);
      margin-left: rem(130);
    }

    &-author-name {
      display: block;
      font-weight: bold;
      font-size: rem(16);
      margin-bottom: rem(6);
    }

    &-author-words {
      font-style: italic;
      font-size: rem(15);
      position: relative;
      margin-bottom: rem(5);
      margin-bottom: rem(8);
      display: inline-block;
    }

    &-comments-title {
      font-size: rem(15);
      font-weight: bold;
      margin-bottom: rem(5);
      position: relative;
      text-transform: uppercase;
    }

    &-add-comment-title {
      font-size: rem(15);
      font-weight: bold;
      margin-bottom: rem(5);
      position: relative;
      text-transform: uppercase;
    }

    &-add-comment-form {
      textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba($text, 0.55) !important;
      }
      textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba($text, 0.55) !important;
      }
      textarea:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba($text, 0.55) !important;
      }
      textarea:-moz-placeholder {
        /* Firefox 18- */
        color: rgba($text, 0.55) !important;
      }
    }

    &-article-more {
      margin-top: rem(15);
      margin-bottom: rem(15);
    }
  }

  &-apps-profile-wall-item-no-indent {
    padding-bottom: 0;
    border-bottom: none;
  }

  &-add-post {
    max-width: rem(1000);
    margin: 0 auto;

    &-type-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-type-item {
      display: inline-block;
      vertical-align: top;
      margin-right: rem(15);
    }

    &-description {
      .note-style {
        .dropdown-menu.dropdown-style {
          min-width: 160px;
        }

        pre {
          padding: rem(5);
        }

        p {
          margin: 0;
        }
      }

      .note-color {
        .btn-group {
          display: inline-block;
        }
      }
    }
  }
}
