<section class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong>NVD3.js</strong>
      <a
        href="http://krispo.github.io/angular-nvd3/#/"
        target="_blank"
        class="btn btn-sm btn-primary ml-4"
      >
        Official Documentation <i class="icmn-link ml-1"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Cumulative Line Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="http://krispo.github.io/angular-nvd3/#/"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <nvd3 [options]="cumLineOptions" [data]="cumLineData"></nvd3>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Stacked Area Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="http://krispo.github.io/angular-nvd3/#/"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <nvd3 [options]="stackedAreaOptions" [data]="stackedAreaData"></nvd3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Descrete Bar Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="http://krispo.github.io/angular-nvd3/#/"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <nvd3 [options]="descreteBarOptions" [data]="descreteBarData"></nvd3>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Multi Bar Horizontal Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="http://krispo.github.io/angular-nvd3/#/"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <nvd3 [options]="multiBarHorOptions" [data]="multiBarHorData"></nvd3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Pie Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="http://krispo.github.io/angular-nvd3/#/"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <nvd3 [options]="pieOptions" [data]="pieData"></nvd3>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="text-black">
          <strong>Donut Chart</strong>
        </h5>
        <p class="text-muted">
          Element: read
          <a
            href="http://krispo.github.io/angular-nvd3/#/"
            target="_blank"
          >
            official documentation
            <small>
              <i class="icmn-link ml-1"></i>
            </small>
          </a>
        </p>
        <div class="mb-5">
          <nvd3 [options]="donutOptions" [data]="donutData"></nvd3>
        </div>
      </div>
    </div>
  </div>
</section>
