<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="resources/fonts/font-icomoon/style.css">
  <link rel="stylesheet" type="text/css" href="resources/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="resources/fonts/font-linearicons/style.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>
