<div class="footer">
  <div class="inner">
    <div class="row">
      <div class="col-lg-9">
        <p>
          <strong>Clean UI Angular Admin Template - Best Solution for Your App!</strong>
        </p>
        <p>
          Clean UI is a set of modern professional HTML / React / Vue and Angular based templates. It's a powerful and
          super flexible tool, which suits best for any kind of web application: Web Applications, CRM, CMS, Admin
          Panels, Dashboards, etc. Clean UI is fully responsive, which means that it looks perfect on mobiles and
          tablets.
        </p>
        <p>
          Also, this is a framework, which uses the concept of modularity. The use of such approach allows you to
          drastically reduce the time and cost of development. Build the interface from the ready blocks and modules
          quickly and easily, like Lego! And all of this is available now for React, Vue, and Angular.
        </p>
      </div>
    </div>
    <div class="bottom">
      <div class="row">
        <div class="col-sm-6">
          <a href="https://themeforest.net/item/clean-ui-react-admin-template/21938700" target="_blank"
            rel="noopener noreferrer" class="mr-4">
            <button nz-button nzType="danger">Buy Bundle 26$</button>
          </a>
        </div>
        <div class="col-sm-6">
          <div class="copyright">
            <img src="assets/images/mediatec.png" rel="noopener noreferrer" alt="Mediatec Software" />
            <span>
              © 2019
              <a href="http://mediatec.org/" target="_blank" rel="noopener noreferrer">
                Mediatec Software
              </a>
              <br />
              All rights reserved
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>