/*  "LAYOUT" STYLES */
.cui-layout {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-flex: 1;
            flex: auto;
    min-height: 100vh;
    min-width: 0;
}

.cui-layout.cui-layout-has-sider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.cui-layout-content {
    -webkit-box-flex: 1;
            flex: auto;
    min-height: 0;
}

.cui-layout-footer {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
}

.cui-layout-header {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    height: 64px;
}
