/* FOOTER */
.cui-footer {
    padding: 0 2.3rem;
    max-width: 120rem;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .cui-footer {
        padding: 0 0.76rem;
    }
}

.cui-footer-inner {
    background: #e4e9f0;
    border-radius: 5px 5px 0 0;
    padding: 3.84rem 2.3rem 2.3rem;
}

.cui-footer-bottom {
    margin-top: 1.53rem;
    padding-top: 2.3rem;
    border-top: 1px solid #d2d9e5;
}

.cui-footer-company {
    padding-left: 3.84rem;
    position: relative;
    display: block;
    float: right;
}

@media (max-width: 767px) {
    .cui-footer-company {
        float: none;
        margin-top: 2.3rem;
    }
}

.cui-footer-company-logo {
    position: absolute;
    top: 0.38rem;
    left: 0;
    width: 2.3rem;
}
