<section
  class="login"
  [ngClass]="fullScreen ? 'fullscreen' : 'windowed'"
  [ngStyle]="{'background-image': 'url(\'assets/images/photos/' + backgroundNumber + '.jpeg\')'}"
>
  <header class="header">
    <a href="javascript: void(0);" class="logo">
      <img src="assets/images/logo-inverse.png" alt="Clean UI Admin Template">
    </a>
    <div class="styleControls">
      <button nz-button nzType="default" (click)="changeScreen()">Set {{fullScreen ? 'windowed' : 'fullscreen'}}</button>
      <button nz-button nzType="default" class="ml-3" (click)="changeBackground()">Change Background</button>
    </div>
    <nav class="loginNav">
      <ul class="navItems">
        <li>
          <a href="javascript: void(0);">&larr; Back</a>
        </li>
        <li>
          <a class="active" href="javascript: void(0);">
            Login
          </a>
        </li>
        <li>
          <a href="javascript: void(0);">About</a>
        </li>
        <li>
          <a href="javascript: void(0);">Support</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <div class="promo">
      <h1 class="mb-3">Welcome to Clean UI admin template</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry&#39;s standard dummy text ever since the 1500s.
      </p>
    </div>
    <div class="form">
      <p class="formTitle">Please register</p>
      <form nz-form [nzLayout]="'vertical'">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUser">
              <input formControlName="userName" id="username" nz-input placeholder="Email or Nickname">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
              <input formControlName="password" nz-input placeholder="Input your password" id="password">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
              <input formControlName="confirm" nz-input placeholder="Confirm your password" id="confirm">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div class="form-actions">
          <button nz-button nzType="primary" class="login-form-button mr-3">
            Sign Up
          </button>
          <label nz-checkbox>Mail Subscription</label>
        </div>
      </form>
    </div>
  </div>
  <footer class="footer">
    <ul class="footerNav">
      <li>
        <a href="javascript: void(0);">Terms of Use</a>
      </li>
      <li>
        <a href="javascript: void(0);">Compliance</a>
      </li>
      <li>
        <a href="javascript: void(0);">Confidential Information</a>
      </li>
      <li>
        <a href="javascript: void(0);">Support</a>
      </li>
      <li>
        <a href="javascript: void(0);">Contacts</a>
      </li>
    </ul>
  </footer>
</section>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
