/*  MENU RIGHT */
.cui-menu-right {
    position: fixed;
    z-index: 995;
    top: 0;
    right: 0;
    width: 19.23rem;
    height: 100%;
    background: #eef0f4;
    -webkit-transform: translate3d(19.23rem, 0, 0);
            transform: translate3d(19.23rem, 0, 0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    overflow-y: auto;
}

.cui-menu-right-example-option input {
    display: none;
}

.cui-menu-right-inner {
    padding: 1.53rem;
}

.cui-menu-right-header {
    border-bottom: 1px solid #e4e9f0;
    padding: 0.38rem 0;
    font-weight: bold;
    color: #74708d;
    min-height: 3.46rem;
}

.cui-menu-right-header span {
    cursor: pointer;
    position: relative;
    top: 0.23rem;
    color: #d2d9e5;
    font-size: 1.23rem;
}

.cui-menu-right-header span:hover {
    color: #b8beca;
}

.cui-menu-right-content {
    padding: 1.53rem 0;
}

.cui-menu-right-descr {
    font-size: 0.92rem;
    color: #74708d;
    margin-bottom: 1.53rem;
    line-height: 1.8;
}

.cui-menu-right-label {
    color: #74708d;
    font-size: 0.92rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.76rem;
}

.cui-menu-right-setting {
    margin-bottom: 1.15rem;
}

.cui-menu-right-visible .cui-menu-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    box-shadow: 0 0 200px -30px rgba(57, 55, 73, 0.4);
}
