@import '../common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  WIDGETS */

@import 'css/profileHeadCard.css';
@import 'css/avatar.css';
@import 'css/userCard.css';
@import 'css/infoCard.css';
@import 'css/sliderCard.css';
@import 'css/chartCard.css';
@import 'css/paymentCard.css';
@import 'css/paymentAccount.css';
@import 'css/paymentTransaction.css';
@import 'css/crypto.css';
@import 'css/progressCard.css';
@import 'css/shortItemInfo.css';
@import 'css/graphCard.css';
