<div>
  <div class="pricingTable">
    <cui-pricing-item class="pricingTableItem" type="success" [extended]="true"></cui-pricing-item>
    <cui-pricing-item class="pricingTableItem"></cui-pricing-item>
    <cui-pricing-item class="pricingTableItem"></cui-pricing-item>
    <cui-pricing-item class="pricingTableItem" type="default"></cui-pricing-item>
  </div>
  <div class="pricingTable">
    <cui-pricing-item class="pricingTableItem" type="warning"></cui-pricing-item>
    <cui-pricing-item class="pricingTableItem"></cui-pricing-item>
    <cui-pricing-item class="pricingTableItem" [extended]="true"></cui-pricing-item>
    <cui-pricing-item class="pricingTableItem"></cui-pricing-item>
  </div>
</div>
