@import '../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  STYLES FOR "YOUTUBE" MODULE */

.cui-video-page {
  max-width: rem(1000);
  margin: 0 auto;

  &-content {
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }

  &-feeds {
    max-width: rem(1250);
    margin: 0 auto;
  }

  .card {
    padding: rem(16);
  }

  &-main-content {
    float: left;
    width: calc(100% - 365px);

    @media (max-width: $xl-max-width) {
      width: 100%;
    }
  }

  &-descr {
    margin-top: rem(20);
  }

  &-add-comment {
    margin-bottom: rem(10);
    padding-bottom: rem(20);
    border-bottom: 1px solid $gray-border;
  }

  &-comment-user {
    float: left;
    padding-top: rem(18);
  }

  &-comment-form {
    margin-top: rem(8);
    margin-left: rem(70);
  }

  &-comment-send {
    padding-top: rem(10);
    padding-left: rem(70);
  }

  &-comment-time {
    font-size: 80%;
    font-weight: normal;
  }

  &-comment-like {
    padding-top: rem(3);
  }

  &-sidebar {
    float: right;
    width: 350px;

    @media (max-width: $xl-max-width) {
      display: none;
    }
  }

  &-sidebar-head {
    padding-bottom: rem(7);
  }

  &-sidebar-title {
    display: inline-block;
  }

  &-autoplay-text {
    color: $text;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-right: 26px;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 3px;
      width: 15px;
      height: 15px;
      border: 1px solid $gray;
      border-radius: 2px;
      @include transition-very-slow();
    }

    &:after {
      content: '';
      position: absolute;
      right: 4.2px;
      top: 4.3px;
      width: 5px;
      height: 9px;
      border-right: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(25deg) scale(0.2);
      @include transition-slow();
    }

    &:hover {
      &:before {
        border-color: $blue;
      }
    }
  }

  &-autoplay-checkbox {
    display: none;

    &:checked + .cui-video-page-autoplay-text:before {
      background: $blue;
      border-color: $blue;
    }

    &:checked + .cui-video-page-autoplay-text:after {
      transform: rotate(40deg) scale(1);
    }
  }

  &-watch-next {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-next-item-link {
    display: block;

    &:hover {
      .cui-video-page-item-name {
        color: $blue;
      }

      .cui-video-page-item-author {
        color: $text;
      }
    }
  }

  &-next-item {
    display: block;
    padding-top: rem(12);
    padding-bottom: rem(12);
    border-top: 1px solid $gray-border;
  }

  &-item-thumb {
    float: left;
  }

  &-item-thumb-img {
    width: 170px;
  }

  &-item-descr {
    cursor: pointer;
    display: block;
    margin-left: 180px;
  }

  &-item-name {
    font-weight: bolder;
    display: block;
    color: $black;
    @include transition-slow();
  }

  &-item-author {
    display: block;
    color: $text;
    font-size: rem(12);
  }

  &-item-views {
    display: block;
    font-size: rem(12);
  }

  &-item-status {
    display: block;
  }

  &-feed-partition {
    padding-bottom: rem(10);
    margin-bottom: rem(30);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: rem(12);
      height: 1px;
      background-color: rgba($black, 0.1);
    }
  }

  &-partition-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-right: rem(-10);

    @media (max-width: $xl-max-width) {
      justify-content: space-around;
    }
  }

  &-partition-title {
    font-size: rem(24);
    font-weight: bold;
    margin-bottom: 0;
    border-radius: 5px;
  }

  &-partition-thumb {
    display: inline-block;
    vertical-align: middle;
    margin-top: rem(-2);
    width: 28px;
    height: 28px;
    border-radius: 5px;
  }

  &-next-item-feed {
    width: 196px;
    border-top: none;
    margin-right: rem(10);

    .cui-video-page {
      &-item-thumb {
        float: none;
      }

      &-item-thumb-img {
        width: 100%;
      }

      &-item-descr {
        margin-left: 0;
      }

      &-item-name {
        font-size: rem(14);
        color: $text;
        margin: rem(10) 0 rem(5);
        display: block;
      }
    }
  }
}
