@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* THEMES: BLUE */

$color1: #fff;
$color2: #000730;
$color3: #000942;
$color4: rgba(255, 255, 255, 0.17);

.cui-theme {
  &-blue {
    // "cui-menu-left" module styles
    .cui-menu-left {
      &-inner {
        background: $color2;
      }

      &-logo {
        background: lighten($color3, 7%);
      }

      &-divider {
        background: $color4;
      }

      &-item {
        &-active,
        &:hover,
        &:active,
        &:focus {
          > a {
            background: lighten($color3, 7%);
          }
        }
      }

      &-submenu {
        &-toggled.cui-menu-left-item {
          color: $color1;
          background: lighten($color3, 7%);
          > a {
            color: $white;
            .cui-menu-left-icon {
              color: $white;
            }
          }

          > .cui-menu-left-list {
            background: lighten($color3, 3%);
          }
        }
      }
    }

    // "cui-menu-top" module styles
    .cui-menu-top {
      &-inner {
        background: $color2;
      }

      &-logo {
        background: lighten($color3, 7%);
      }

      &-divider {
        background: $color4;
      }

      &-item {
        &-active,
        &:hover,
        &:active,
        &:focus {
          > a {
            background: lighten($color3, 7%);
          }
        }
      }

      &-submenu {
        &-toggled.cui-menu-top-item {
          color: $color1;
          background: lighten($color3, 7%);
          > a {
            color: $white;
            .cui-menu-left-icon {
              color: $white;
            }
          }

          > .cui-menu-top-list {
            background: lighten($color3, 3%);
          }
        }
      }
    }
  }
}
