@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* THEMES: GREEN */

$color1: #fff;
$color2: #74708d;
$color3: #e4e9f0;
$color4: #e4e9f0;
$color5: #528e74;

.cui-theme {
  &-green {
    // cui-topbar
    .cui-topbar {
      background: $color5;
      border-bottom-color: $color5;

      &-mini-chart {
        color: $color1;
      }

      &-mini-chart-inner i {
        background: $color1;
      }

      &-search {
        border-bottom-color: rgba($color1, 0.2);

        input {
          background: $white;
        }
      }

      &-item > .dropdown > a {
        color: $color1;

        &:hover {
          color: $color3;
        }
      }
    }

    // "cui-menu-left" module styles
    .cui-menu-left {
      &-inner {
        background: $color1;
        border-right: 1px solid $gray-border;
      }

      &-trigger {
        background: $gray-border;
      }

      &-logo {
        background: $color5;
      }

      &-item {
        > a {
          color: $color2;
        }

        &-active,
        &:hover,
        &:active,
        &:focus {
          > a {
            background: $color5;
            color: $white;

            &:before,
            &:after {
              background: $white !important;
            }

            > .cui-menu-left-icon {
              color: $color1;
            }
          }
        }
      }

      &-icon {
        color: lighten($color2, 30%);
      }

      &-divider {
        background: $color3;
      }

      &-submenu {
        &-toggled.cui-menu-left-item {
          color: $color1;
          background: lighten($color3, 5%);

          > a {
            background: $color5;
            color: $white;
            .cui-menu-left-icon {
              color: $white;
            }
          }
        }

        > .cui-menu-left-list {
          background: lighten($color3, 5%);
        }
      }

      .jspScrollable .jspDrag:after {
        background: lighten($color2, 40%) !important;
      }
    }

    // "cui-menu-top" module styles
    .cui-menu-top {
      &-inner {
        background: $color1;
        border-right: 1px solid $gray-border;
      }

      &-trigger {
        background: $gray-border;
      }

      &-logo {
        background: $color5;
      }

      &-item {
        > a {
          color: $color2;
        }

        &-active,
        &:hover,
        &:active,
        &:focus {
          > a {
            background: $color5;
            color: $white;

            &:before,
            &:after {
              background: $white !important;
            }

            > .cui-menu-top-icon {
              color: $color1;
            }
          }
        }
      }

      &-icon {
        color: lighten($color2, 30%);
      }

      &-divider {
        background: $color3;
      }

      &-submenu {
        &-toggled.cui-menu-top-item {
          color: $color1;
          background: lighten($color3, 5%);

          > a {
            background: $color5;
            color: $white;
            .cui-menu-left-icon {
              color: $white;
            }
          }
        }

        > .cui-menu-top-list {
          background: lighten($color3, 5%);
        }
      }
    }
  }
}
