@import '../../core/common/css/mixins';

.cui-config {
  &-borderless {
    .card {
      border: none;
      &.cui-utils-sortable-collapsed {
        .card-header {
          padding-bottom: rem(20);
        }
      }
    }

    .card-header {
      padding-top: rem(20);
      padding-bottom: 0;
      border-bottom: 0;
    }

    .card-footer {
      padding-top: 0;
      border-top: 0;
    }

    .cui-utils-title {
      text-transform: uppercase;
      font-size: rem(16);
    }
  }

  &-squared-corners {
    .card,
    .cui-footer,
    .cui-utils-widget {
      border-radius: 0 !important;
    }
  }

  &-fixed-width {
    > .cui-layout {
      max-width: 1420px;
      margin: 0 auto;
    }

    @media (min-width: $md-min-width) {
      .cui-utils-content {
        padding-right: 0;
      }

      .cui-footer {
        padding-right: 0;
      }
    }

    @media (min-width: 1435px) {
      .cui-menu-left-inner,
      .cui-menu-top-inner {
        border-left: 1px solid $gray-border;
      }
    }
  }
}
