.cui-payment-account {
    padding: 2.3rem 2.3rem;
    position: relative;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
}

.cui-payment-account:hover {
    box-shadow: 0 0 2.25rem #e1e1e1;
}

.cui-payment-account-icon {
    position: absolute;
    top: 1.92rem;
    right: 2.3rem;
}

.cui-payment-account-icon i {
    font-size: 3.23rem;
    color: #b8beca;
}

.cui-payment-account-number {
    display: block;
    font-size: 1.61rem;
    color: #0e0b20;
    font-weight: bold;
}

.cui-payment-account-sum {
    display: block;
    font-size: 1.38rem;
    margin-bottom: 1.53rem;
    color: #74708d;
}

@media (max-width: 991px) {
    .cui-payment-account-sum {
        right: auto;
        left: 0.76rem;
    }
}

.cui-payment-account-footer {
    text-align: center;
    border-top: 1px solid #e4e9f0;
    color: #74708d;
    padding-top: 0.76rem;
    margin-bottom: -1.16rem;
    font-style: italic;
    font-size: 1rem;
}
