.cui-user-card {
    background: #fff;
    position: relative;
    border-radius: 0.25rem;
    border: 1px solid #e4e9f0;
}

@media (max-width: 991px) {
    .cui-user-card {
        margin-bottom: 1.35rem;
    }
}

.cui-user-card-user-name {
    font-weight: 700;
}

.cui-user-card-white-font .cui-user-card-user-name {
    color: #fff;
}

.cui-user-card-white-font .cui-user-card-post {
    color: #fff;
}

.cui-user-card-post {
    color: #c0bdd0;
}

.cui-user-card-plus-btn {
    font-size: 0;
    background-color: #fff;
    position: absolute;
    top: 1.53rem;
    right: 1.53rem;
    width: 1.61rem;
    height: 1.61rem;
    border: 1px solid #d2d9e5;
    border-radius: 500px;
    cursor: pointer;
    opacity: 0.7;
}

.cui-user-card-plus-btn:after {
    content: '';
    position: absolute;
    top: 0.23rem;
    left: 0.69rem;
    height: 1rem;
    width: 1px;
    background: #d2d9e5;
}

.cui-user-card-plus-btn:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1px;
    left: 0.23rem;
    top: 0.69rem;
    background: #d2d9e5;
}

.cui-user-card-plus-btn:hover {
    opacity: 1;
}
