/*  STYLES FOR "DOCS" MODULE */
.cui-docs {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .cui-docs {
        display: block;
    }
}

.cui-docs-sidebar {
    background-color: #fafdff;
    position: relative;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    display: block;
    z-index: 5;
    width: 256px;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-flex: 1;
            flex-grow: 1;
    overflow: hidden;
    border-right: 1px solid #e4e9f0;
}

@media (max-width: 991px) {
    .cui-docs-sidebar {
        display: block;
        width: auto;
        border-right: none;
    }
}

.cui-docs-wrapper {
    -webkit-box-flex: 100;
            flex-grow: 100;
}

.cui-docs-title {
    overflow: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: 10;
    top: 14px;
    right: 0;
    height: 54px;
    border-bottom: 1px solid #e4e9f0;
    padding: 0.92rem 30px;
    font-size: 1.38rem;
    font-weight: bold;
}

.cui-docs-menu {
    top: 56px;
    bottom: 50px;
    right: 0;
    overflow-y: auto;
    z-index: 1;
    padding: 2.3rem;
}

.cui-docs-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cui-docs-menu-item {
    display: block;
}

@media (max-width: 991px) {
    .cui-docs-menu-item {
        border-bottom: 1px solid #e4e9f0;
    }
}

.cui-docs-menu-item-separator {
    margin-top: 0.61rem;
    margin-bottom: 0.61rem;
    padding-top: 0.38rem;
    border-top: 1px solid rgba(120, 134, 156, 0.08);
}

.cui-docs-menu-link {
    display: block;
    font-size: 1.15rem;
    color: #0072d6;
    font-weight: 600;
    line-height: 2.76rem;
    background-repeat: no-repeat;
    background-size: 1.53rem 1.53rem;
    background-position: 0 0.46rem;
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.cui-docs-menu-link:hover {
    color: #0190fe;
}

.cui-docs-menu-link:focus {
    color: #0072d6;
}

.cui-docs-menu-link:active {
    opacity: 0.8;
}

.cui-docs-menu-link-external {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
            align-items: baseline;
    padding-right: 0.76rem;
}

.cui-docs-menu-link-external .cui-docs-menu-icon-external {
    margin-left: auto;
}

.cui-docs-menu-link-selected {
    color: #0190fe;
}

.cui-docs-menu-link-selected:hover {
    color: #0190fe;
}

.cui-docs-menu-link-icon {
    font-size: 1.07rem;
    margin-right: 0.61rem;
    color: #0190fe;
}

.cui-docs-submenu {
    padding: 0;
    padding-left: 1.92rem;
    overflow: hidden;
    margin: 0;
    list-style: none;
}

.cui-docs-submenu-item {
    display: block;
}

.cui-docs-submenu-item-category {
    font-weight: 600;
    font-size: 0.92rem;
    color: #d2d9e5;
    text-transform: uppercase;
    margin-top: 0.3rem;
    margin-bottom: 0.38rem;
}

.cui-docs-submenu-item-category:not(:first-child) {
    margin-top: 1.07rem;
}

.cui-docs-submenu-item-separator {
    margin-top: 0.61rem;
    padding-top: 0.38rem;
    border-top: 1px solid rgba(120, 134, 156, 0.08);
}

.cui-docs-submenu-link {
    position: relative;
    display: block;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    min-height: 2.15rem;
    line-height: 1.53rem;
    padding: 0.3rem 1.23rem 0.3rem 0;
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.cui-docs-submenu-link:hover {
    color: #0190fe;
}

.cui-docs-submenu-link-selected {
    color: #0190fe;
    font-weight: 600;
}

.cui-docs-submenu-link-selected:hover {
    font-weight: 600;
    color: #0190fe;
}

.cui-docs-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-align: center;
            align-items: center;
    border-bottom: 1px solid #e4e9f0;
    padding-right: 2.3rem;
    height: 54px;
}

.cui-docs-header-search {
    -webkit-box-flex: 1;
            flex-grow: 1;
    position: relative;
}

.cui-docs-header-search i {
    position: absolute;
    left: 2.3rem;
    font-size: 1.07rem;
    top: 17px;
}

.cui-docs-header-search input {
    border: none;
    color: #d2d9e5;
    background-color: transparent;
    font-size: 1.15rem;
    -webkit-box-flex: 1;
            flex-grow: 1;
    padding: 0.92rem 1.53rem 0.92rem 3.84rem;
    line-height: 1.7;
}

.cui-docs-header-link {
    color: #0190fe;
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease;
    font-size: 1.15rem;
    font-weight: 600;
    white-space: nowrap;
}

.cui-docs-header-link:hover {
    color: #32325d;
}

.cui-docs-image {
    text-align: center;
}

.cui-docs-image img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 0.76rem;
}

.cui-docs-content {
    padding: 2.3rem;
}

.cui-docs-content header {
    padding-top: 0.61rem;
    padding-bottom: 3.07rem;
    border-bottom: 1px solid #e4e9f0;
}

.cui-docs-content h1,
.cui-docs-content h2,
.cui-docs-content h3,
.cui-docs-content h4,
.cui-docs-content h5,
.cui-docs-content h6 {
    color: #0072d6;
}

.cui-docs-content blockquote,
.cui-docs-content dl,
.cui-docs-content ol,
.cui-docs-content p,
.cui-docs-content table tbody,
.cui-docs-content ul {
    font-size: 1.15rem;
    color: #373e42;
    line-height: 2rem;
}

.cui-docs-content p code {
    background-color: #e4e4e4;
    border-radius: 5px;
    padding: 0.23rem 0.46rem;
}

.cui-docs-content blockquote {
    border-left: 1px solid #e4e4e4;
    padding-left: 1.38rem;
    color: #d2d9e5;
}

.cui-docs-content a {
    color: #0190fe;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.15rem;
}

.cui-docs-content a:active {
    color: #0076b1;
}

.cui-docs-content a:active code {
    color: #0076b1;
}

.cui-docs-content a:hover {
    text-decoration: none;
}

.cui-docs-content a code {
    color: #0190fe;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.15rem;
}

.cui-docs-content code {
    font-weight: 600;
    color: #0072d6;
    font-family: Source Code Pro, monospace;
}

.cui-docs-content strong {
    color: #0072d6;
}

.cui-docs-content section {
    border-bottom: 1px solid #e4e9f0;
    padding: 3.07rem 0;
}

.cui-docs-content section:last-child {
    border-bottom: 0;
}

.cui-docs-content section::after {
    content: '';
    display: block;
    clear: both;
}

.cui-docs-content aside.cui-docs-note {
    float: right;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    border-left-width: 3px;
    width: 20.15rem;
    padding: 1.23rem;
    margin: 1.15rem 0 1.53rem 3.07rem;
    position: relative;
    z-index: 2;
}

@media (max-width: 767px) {
    .cui-docs-content aside.cui-docs-note {
        float: none;
        margin: 1.15rem 0 1.53rem 0;
        border-left-width: 1px;
    }
}

.cui-docs-content aside.cui-docs-note:first-child {
    margin-top: 0;
}

.cui-docs-content aside.cui-docs-note h3 {
    font-size: 1.15rem;
    color: #333;
    font-weight: 600;
}

.cui-docs-content aside.cui-docs-note p {
    font-size: 1rem;
    color: #333;
    line-height: 1.38rem;
}

.cui-docs-content aside.cui-docs-note p:not(:first-child) {
    padding-top: 0.76rem;
}

.cui-docs-content aside.cui-docs-note ul {
    font-size: 1rem;
    color: #333;
    line-height: 1.38rem;
}

.cui-docs-content aside.cui-docs-note ul li {
    padding-left: 1.92rem;
}

.cui-docs-content aside.cui-docs-note ul li::before {
    top: 0.53rem;
    width: 0.3rem;
    height: 0.3rem;
}

.cui-docs-content aside.cui-docs-important {
    padding: 1.15rem 1.53rem;
    background-color: #f6fff5;
    border: 1px solid rgba(80, 169, 47, 0.12);
    border-radius: 5px;
    display: block;
}

.cui-docs-content aside.cui-docs-important:not(:first-child) {
    margin-top: 1.53rem;
}

.cui-docs-content aside.cui-docs-important:not(:last-child) {
    margin-bottom: 0.76rem;
}

.cui-docs-content aside.cui-docs-important p:last-child {
    margin-bottom: 0;
}

.cui-docs-content ul,
.cui-docs-content ol {
    list-style: none;
    counter-reset: listitem;
    padding: 0;
}

.cui-docs-content ul.cui-docs-ul-two-columns,
.cui-docs-content ol.cui-docs-ul-two-columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    list-style: none;
    margin: 1.15rem 0;
}

.cui-docs-content ul.cui-docs-ul-three-columns,
.cui-docs-content ol.cui-docs-ul-three-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    list-style: none;
    margin: 1.15rem 0;
}

.cui-docs-content ul > li {
    position: relative;
    margin: 0.38rem 0;
    padding-left: 2.3rem;
}

.cui-docs-content ul > li::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: 10px;
    top: 9px;
    border-radius: 50%;
    background: #d2d9e5;
}

.cui-docs-content ul.cui-docs-steps {
    list-style: none;
    background-color: #fafdff;
    border: 1px solid #d2f0f1;
    border-radius: 5px;
}

.cui-docs-content ul.cui-docs-steps:not(:first-child) {
    margin-top: 1.15rem;
}

.cui-docs-content ul.cui-docs-steps li {
    padding: 0;
    margin: 0;
}

.cui-docs-content ul.cui-docs-steps li:not(:first-child) {
    border-top: 1px solid #d2f0f1;
}

.cui-docs-content ul.cui-docs-steps li::before {
    display: none;
}

.cui-docs-content ul.cui-docs-steps li a {
    display: block;
    font-size: 1.46rem;
    padding: 1.23rem 0 1.07rem 3.84rem;
    text-decoration: none;
}

.cui-docs-content ul.cui-docs-steps li a::after {
    content: '';
    position: absolute;
    top: 1.23rem;
    left: 1.15rem;
    width: 1.84rem;
    height: 1.84rem;
    background-image: url("../../../components/docs/common/img/icons/icon-next-step.svg");
    background-size: 1.84rem 3.69rem;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.cui-docs-content ul.cui-docs-steps li a:active::after {
    background-position: 0 100%;
}

.cui-docs-content ol > li {
    position: relative;
    margin: 0.38rem 0;
    padding-left: 2.3rem;
}

.cui-docs-content ol > li::before {
    counter-increment: listitem;
    content: counter(listitem);
    background: #d2d9e5;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    padding: 4px 0;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}
