<nav class="cui-menu-top">
  <div class="cui-menu-top-handler">
    <div class="cui-menu-top-handler-icon"></div>
  </div>
  <div class="cui-menu-top-inner">
    <div class="cui-menu-top-logo">
      <a href="dashboards-alpha.html">
        <img
          class="cui-menu-top-logo-default"
          src="../../components/dummy-assets/common/img/logo-inverse.png"
          alt=""
        />
      </a>
    </div>
    <div class="cui-menu-top-scroll">
      <ul class="cui-menu-top-list cui-menu-top-list-root">
        <li class="cui-menu-top-item">
          <a href="javascript: void(0);" class="cui-menu-right-action-toggle">
            <span class="cui-menu-top-icon icmn-cog"></span>
            <span class="cui-menu-top-title">Settings</span>
          </a>
        </li>
        <li class="cui-menu-top-item">
          <a href="https://docs.cleanuitemplate.com/" target="_blank">
            <span class="cui-menu-top-icon icmn-books"></span>
            <span class="cui-menu-top-title">Docs</span>
          </a>
        </li>
        <li class="cui-menu-top-item cui-menu-top-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-top-icon icmn-loop"></span>
            <span class="cui-menu-top-title">Pages</span>
          </a>
          <ul class="cui-menu-top-list">
            <li class="cui-menu-top-item">
              <a href="dashboards-alpha.html">
                <span class="cui-menu-top-icon icmn-home"></span>
                <span class="cui-menu-top-title">Dashboard Alpha</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="dashboards-beta.html">
                <span class="cui-menu-top-icon icmn-home"></span>
                <span class="cui-menu-top-title">Dashboard Beta</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="dashboards-crypto.html">
                <span class="cui-menu-top-icon icmn-home"></span>
                <span class="cui-menu-top-title">Dashboard Crypto</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="dashboards-gamma.html">
                <span class="cui-menu-top-icon icmn-home"></span>
                <span class="cui-menu-top-title">Dashboard Gamma</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="dashboards-docs.html">
                <span class="cui-menu-top-icon icmn-home"></span>
                <span class="cui-menu-top-title">Dashboard Docs</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-top-divider">
              <!-- -->
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-file-text"></span>
                <span class="cui-menu-top-title">Default Pages</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="pages-login-alpha.html">
                    <span class="cui-menu-top-icon">LA</span>
                    <span class="cui-menu-top-title">Login Alpha</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="pages-login-beta.html">
                    <span class="cui-menu-top-icon">LB</span>
                    <span class="cui-menu-top-title">Login Beta</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="pages-register.html">
                    <span class="cui-menu-top-icon">R</span>
                    <span class="cui-menu-top-title">Register</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="pages-lockscreen.html">
                    <span class="cui-menu-top-icon">LS</span>
                    <span class="cui-menu-top-title">Lockscreen</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="pages-pricing-tables.html">
                    <span class="cui-menu-top-icon">PT</span>
                    <span class="cui-menu-top-title">Pricing Tables</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="pages-invoice.html">
                    <span class="cui-menu-top-icon">I</span>
                    <span class="cui-menu-top-title">Invoice</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="pages-page-404.html">
                    <span class="cui-menu-top-icon">P4</span>
                    <span class="cui-menu-top-title">Page 404</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="pages-page-500.html">
                    <span class="cui-menu-top-icon">P5</span>
                    <span class="cui-menu-top-title">Page 500</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-download"></span>
                <span class="cui-menu-top-title">Ecommerce</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="ecommerce-dashboard.html">
                    <span class="cui-menu-top-icon">DB</span>
                    <span class="cui-menu-top-title">Dashboard</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="ecommerce-products-catalog.html">
                    <span class="cui-menu-top-icon">PC</span>
                    <span class="cui-menu-top-title">Products Catalog</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="ecommerce-product-details.html">
                    <span class="cui-menu-top-icon">PD</span>
                    <span class="cui-menu-top-title">Product Details</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="ecommerce-product-edit.html">
                    <span class="cui-menu-top-icon">PE</span>
                    <span class="cui-menu-top-title">Product Edit</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="ecommerce-products-list.html">
                    <span class="cui-menu-top-icon">PL</span>
                    <span class="cui-menu-top-title">Products List</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="ecommerce-orders.html">
                    <span class="cui-menu-top-icon">O</span>
                    <span class="cui-menu-top-title">Orders</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="ecommerce-cart-checkout.html">
                    <span class="cui-menu-top-icon">CC</span>
                    <span class="cui-menu-top-title">Cart / Checkout</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-stack"></span>
                <span class="cui-menu-top-title">Apps</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="apps-profile.html">
                    <span class="cui-menu-top-icon">PR</span>
                    <span class="cui-menu-top-title">Profile</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="apps-messaging.html">
                    <span class="cui-menu-top-icon">MS</span>
                    <span class="cui-menu-top-title">Messaging</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="apps-mail.html">
                    <span class="cui-menu-top-icon">ML</span>
                    <span class="cui-menu-top-title">Mail</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="apps-calendar.html">
                    <span class="cui-menu-top-icon">CL</span>
                    <span class="cui-menu-top-title">Calendar</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="apps-gallery.html">
                    <span class="cui-menu-top-icon">GL</span>
                    <span class="cui-menu-top-title">Gallery</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-book"></span>
                <span class="cui-menu-top-title">Github</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="github-explore.html">
                    <span class="cui-menu-top-icon">XP</span>
                    <span class="cui-menu-top-title">Explore</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="github-discuss.html">
                    <span class="cui-menu-top-icon">DS</span>
                    <span class="cui-menu-top-title">Discuss</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-play"></span>
                <span class="cui-menu-top-title">Youtube</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="youtube-feed.html">
                    <span class="cui-menu-top-icon">FD</span>
                    <span class="cui-menu-top-title">Feed</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="youtube-view.html">
                    <span class="cui-menu-top-icon">VW</span>
                    <span class="cui-menu-top-title">View</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-pen"></span>
                <span class="cui-menu-top-title">Blog</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="blog-add-post.html">
                    <span class="cui-menu-top-icon">AP</span>
                    <span class="cui-menu-top-title">Add Post</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="blog-post.html">
                    <span class="cui-menu-top-icon">VW</span>
                    <span class="cui-menu-top-title">Post</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="blog-feed.html">
                    <span class="cui-menu-top-icon">VW</span>
                    <span class="cui-menu-top-title">Feed</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="cui-menu-top-item cui-menu-top-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-top-icon icmn-loop"></span>
            <span class="cui-menu-top-title">Components</span>
          </a>
          <ul class="cui-menu-top-list">
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-list"></span>
                <span class="cui-menu-top-title">Forms</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="forms-basic-form-elements.html">
                    <span class="cui-menu-top-icon">BF</span>
                    <span class="cui-menu-top-title">Basic Form Elements</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-buttons.html">
                    <span class="cui-menu-top-icon">B</span>
                    <span class="cui-menu-top-title">Buttons</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-dropdowns.html">
                    <span class="cui-menu-top-icon">D</span>
                    <span class="cui-menu-top-title">Dropdowns</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-selectboxes.html">
                    <span class="cui-menu-top-icon">SB</span>
                    <span class="cui-menu-top-title">Selectboxes</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-checkboxes-radio.html">
                    <span class="cui-menu-top-icon">CR</span>
                    <span class="cui-menu-top-title">Checkboxes / Radio</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-form-wizard.html">
                    <span class="cui-menu-top-icon">FW</span>
                    <span class="cui-menu-top-title">Form Wizard</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-form-validation.html">
                    <span class="cui-menu-top-icon">FV</span>
                    <span class="cui-menu-top-title">Form Validation</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-autocomplete.html">
                    <span class="cui-menu-top-icon">AC</span>
                    <span class="cui-menu-top-title">Autocomplete</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-input-mask.html">
                    <span class="cui-menu-top-icon">IM</span>
                    <span class="cui-menu-top-title">Input Mask</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-file-uploads.html">
                    <span class="cui-menu-top-icon">FU</span>
                    <span class="cui-menu-top-title">File Uploads</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="forms-extras.html">
                    <span class="cui-menu-top-icon">E</span>
                    <span class="cui-menu-top-title">Extras</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-loop"></span>
                <span class="cui-menu-top-title">Components</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="components-date-picker.html">
                    <span class="cui-menu-top-icon">DP</span>
                    <span class="cui-menu-top-title">Date Picker</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-calendar.html">
                    <span class="cui-menu-top-icon">CL</span>
                    <span class="cui-menu-top-title">Calendar</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-carousel.html">
                    <span class="cui-menu-top-icon">CR</span>
                    <span class="cui-menu-top-title">Carousel</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-slider.html">
                    <span class="cui-menu-top-icon">SL</span>
                    <span class="cui-menu-top-title">Slider</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-modal.html">
                    <span class="cui-menu-top-icon">M</span>
                    <span class="cui-menu-top-title">Modal</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-tooltips-popovers.html">
                    <span class="cui-menu-top-icon">TP</span>
                    <span class="cui-menu-top-title">Tooltips & Popovers</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-notifications-alerts.html">
                    <span class="cui-menu-top-icon">NA</span>
                    <span class="cui-menu-top-title">Notifications & Alerts</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-loading-progress.html">
                    <span class="cui-menu-top-icon">LP</span>
                    <span class="cui-menu-top-title">Loading Progress</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-progress-bars.html">
                    <span class="cui-menu-top-icon">PB</span>
                    <span class="cui-menu-top-title">Progress Bars</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-badges-labels.html">
                    <span class="cui-menu-top-icon">BL</span>
                    <span class="cui-menu-top-title">Badges & Labels</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-steps.html">
                    <span class="cui-menu-top-icon">S</span>
                    <span class="cui-menu-top-title">Steps</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-breadcrumbs.html">
                    <span class="cui-menu-top-icon">B</span>
                    <span class="cui-menu-top-title">Breadcrumbs</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-pagination.html">
                    <span class="cui-menu-top-icon">P</span>
                    <span class="cui-menu-top-title">Pagination</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-collapse.html">
                    <span class="cui-menu-top-icon">C</span>
                    <span class="cui-menu-top-title">Collapse</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-tabs.html">
                    <span class="cui-menu-top-icon">T</span>
                    <span class="cui-menu-top-title">Tabs</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-text-editor.html">
                    <span class="cui-menu-top-icon">TE</span>
                    <span class="cui-menu-top-title">Text Editor</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="components-nestable.html">
                    <span class="cui-menu-top-icon">N</span>
                    <span class="cui-menu-top-title">Nestable</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-table"></span>
                <span class="cui-menu-top-title">Tables</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="tables-basic-tables.html">
                    <span class="cui-menu-top-icon">BT</span>
                    <span class="cui-menu-top-title">Basic Tables</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="tables-datatables.html">
                    <span class="cui-menu-top-icon">DT</span>
                    <span class="cui-menu-top-title">DataTables</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="tables-editable-tables.html">
                    <span class="cui-menu-top-icon">ET</span>
                    <span class="cui-menu-top-title">Editable Tables</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-stats-bars"></span>
                <span class="cui-menu-top-title">Charts</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="charts-chartistjs.html">
                    <span class="cui-menu-top-icon">CT</span>
                    <span class="cui-menu-top-title">Chartist.js</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="charts-chartjs.html">
                    <span class="cui-menu-top-icon">CR</span>
                    <span class="cui-menu-top-title">Chart.js</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="charts-c3.html">
                    <span class="cui-menu-top-icon">C3</span>
                    <span class="cui-menu-top-title">C3</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="charts-peity.html">
                    <span class="cui-menu-top-icon">PT</span>
                    <span class="cui-menu-top-title">Peity</span>
                    <span class="ml-2 badge badge-primary">PRO</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="cui-menu-top-item">
              <a href="components-mail-templates.html">
                <span class="cui-menu-top-icon icmn-envelop"></span>
                <span class="cui-menu-top-title">Mail Templates</span>
                <span class="ml-2 badge badge-primary">PRO</span>
              </a>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon icmn-star-full"></span>
                <span class="cui-menu-top-title">Icons</span>
              </a>
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item">
                  <a href="icons-fontawesome.html">
                    <span class="cui-menu-top-icon">FA</span>
                    <span class="cui-menu-top-title">FontAwesome</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="icons-linear-icons-free.html">
                    <span class="cui-menu-top-icon">LI</span>
                    <span class="cui-menu-top-title">Linearicons Free</span>
                  </a>
                </li>
                <li class="cui-menu-top-item">
                  <a href="icons-icomoon-free.html">
                    <span class="cui-menu-top-icon">IC</span>
                    <span class="cui-menu-top-title">Icomoon Free</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="cui-menu-top-item cui-menu-top-submenu">
          <a href="javascript: void(0);">
            <span class="cui-menu-top-icon icmn-checkbox-unchecked"></span>
            <span class="cui-menu-top-title">Layout</span>
          </a>
          <ul class="cui-menu-top-list">
            <li class="cui-menu-top-item">
              <a href="layout-grid.html">
                <span class="cui-menu-top-icon">G</span>
                <span class="cui-menu-top-title">Grid</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="layout-cards.html">
                <span class="cui-menu-top-icon">PC</span>
                <span class="cui-menu-top-title">Cards / Panels</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="layout-sidebars.html">
                <span class="cui-menu-top-icon">SB</span>
                <span class="cui-menu-top-title">Sidebars</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="layout-utilities.html">
                <span class="cui-menu-top-icon">U</span>
                <span class="cui-menu-top-title">Utilities</span>
              </a>
            </li>
            <li class="cui-menu-top-item">
              <a href="layout-typography.html">
                <span class="cui-menu-top-icon icmn-font-size"></span>
                <span class="cui-menu-top-title">Typography</span>
              </a>
            </li>
            <li class="cui-menu-top-item cui-menu-top-item-disabled">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon">D</span>
                <span class="cui-menu-top-title">Disabled Item</span>
              </a>
            </li>
            <li class="cui-menu-top-item cui-menu-top-submenu">
              <a href="javascript: void(0);">
                <span class="cui-menu-top-icon">IN</span>
                <span class="cui-menu-top-title">Infinity Nested</span>
              </a>
              <!-- level 1 -->
              <ul class="cui-menu-top-list">
                <li class="cui-menu-top-item cui-menu-top-submenu">
                  <a href="javascript: void(0);">
                    <span class="cui-menu-top-title">Level 1</span>
                  </a>
                  <!-- level 2 -->
                  <ul class="cui-menu-top-list">
                    <li class="cui-menu-top-item cui-menu-top-submenu">
                      <a href="javascript: void(0);">
                        <span class="cui-menu-top-title">Level 1.2</span>
                      </a>
                      <!-- level 3 -->
                      <ul class="cui-menu-top-list">
                        <li class="cui-menu-top-item">
                          <a href="javascript: void(0);">
                            <span class="cui-menu-top-title">Level 1.2.3</span>
                          </a>
                        </li>
                        <li class="cui-menu-top-item cui-menu-top-submenu">
                          <a href="javascript: void(0);">
                            <span class="cui-menu-top-title">Level 1.2.3</span>
                          </a>
                          <!-- level 4 -->
                          <ul class="cui-menu-top-list">
                            <li class="cui-menu-top-item">
                              <a href="javascript: void(0);">
                                <span class="cui-menu-top-title">Level 1.2.3.4</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="cui-menu-top-item">
                      <a href="javascript: void(0);">
                        <span class="cui-menu-top-title">Level 1.2</span>
                      </a>
                    </li>
                    <li class="cui-menu-top-item">
                      <a href="javascript: void(0);">
                        <span class="cui-menu-top-title">Level 1.2</span>
                      </a>
                    </li>
                    <li class="cui-menu-top-item">
                      <a href="javascript: void(0);">
                        <span class="cui-menu-top-title">Level 1.2</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="cui-menu-top-item">
                  <a href="javascript: void(0);">
                    <span class="cui-menu-top-title">Level 1</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
