<div class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong>AntDesign Components</strong>
      <a
        href="https://ng.ant.design/docs/introduce/en"
        target="_blank"
        class="btn btn-sm btn-primary ml-4"
      >
        Official Documentation <i class="icmn-link ml-1"></i>
      </a>
    </div>
    <div class="utils__titleDescription">
      A design system with values of Nature and Determinacy for better user experience of
      enterprise applications
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12" *ngFor="let category of componentsData">
        <div class="cui-antd-index-block">
          <div class="cui-antd-index-label">{{category.name}}</div>
          <div class="row">
            <div class="col-md-6" *ngFor="let item of category.items">
              <div class="cui-antd-index-item">
                <h5 class="text-black cui-antd-index-item-title">
                  <strong>{{item.name}}</strong>
                </h5>
                <div>
                  {{item.description}}
                  <a [href]="item.link"
                     target="_blank"
                     class="utils__link--blue utils__link--underlined"
                  >
                    Examples
                    <small>
                      <i className="icmn-link ml-1"></i>
                    </small>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
