<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-2">
        <cui-info-card form="bordered" type="primary"></cui-info-card>
      </div>
      <div class="col-lg-2">
        <cui-info-card form="bordered" type="default"></cui-info-card>
      </div>
      <div class="col-lg-2">
        <cui-info-card form="bordered" type="danger"></cui-info-card>
      </div>
      <div class="col-lg-2">
        <cui-info-card form="bordered" type="default"></cui-info-card>
      </div>
      <div class="col-lg-2">
        <cui-info-card form="bordered" type="warning"></cui-info-card>
      </div>
      <div class="col-lg-2">
        <cui-info-card form="bordered" type="success"></cui-info-card>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
        <cui-product-card></cui-product-card>
      </div>
    </div>
  </div>
</div>
